<div class="main-content">
<div class="image">
  <img src="/middle_pic.png">
</div>
<h1>Tyler Lemburg</h1>
<p>
I graduated with an M.S. in climatology from the University of Nebraska&ndash;Lincoln, working
under Dr. Clint Rowe. My research was 
focused on modeling effects of Greenland Ice Sheet melting on the 
Atlantic Meridional Overturning Circulation and, in turn, effects on the climate of 
Scandinavia and the British Isles.
</p>

<p>
Currently, I'm taking a break from academia. I'll be back though; college is my true soulmate.
</p>

<h2>Contact Information</h2>
<p>
270 Blue Sky Drive<br>
Dawsonville, GA 30534<br>
402-202-6857<br>
<a href="mailto:trlemburg@gmail.com">trlemburg@gmail.com</a>
</p>

<h2>Research</h2>
<div class="indent">
  <h3>Publications</h3>
  <ul>
  <li>2014. Shifts of generators and delta sets of numerical monoids. S. T. Chapman, N. Kaplan, T. Lemburg, A. Niles, and C. Zlogar. <em>International Journal of Algebra and Computation</em> <strong>24</strong>(5):655-669.</li>
  </ul>
</div>

<h2>Teaching</h2>
<ul>
  <li>Teaching Assistant, Honors Calculus I, II, III 2007-2011</li>
  <li>Grader, Introduction to Modern Algebra, 2007</li>
</ul>

<h2>Education</h2>
<div class="indent">
  <h3>Master of Science, 2017-2019 <span class="subhead">University of Nebraska&ndash;Lincoln</span></h3>
  <ul>
    <li>Specialization: Climatology</li>
    <li>Thesis: "Examining the Effects of Greenland Ice Sheet Melting and Atlantic Meridional Shutdown on the Climate of Scandinavia and the British Isles"</li>
  </ul>
  <h3>Visiting student, 2015-2017 <span class="subhead">University of Nebraska&ndash;Lincoln</span></h3>
  <ul>
    <li>Catch-up meteorology and climatology classes</li>
  </ul>
  <h3>Bachelor of Science, 2006-2011 <span class="subhead">University of Nebraska&ndash;Lincoln</span></h3>
  <ul>
    <li>Major in Mathematics (Computer Science minor)</li>
    <li>Graduated with honors</li>
  </ul>
</div>

<h2>Links</h2>
<ul>
  <li><a href="/cv.pdf">CV</a></li>
  <li><a href="http://www.tylerlemburg.com">Personal Homepage</a></li>
  <li><a href="https://eas.unl.edu/clinton-rowe">Dr. Clint Rowe's Homepage</a></li>
  <li><a href="http://eas.unl.edu">UNL Earth and Atmospheric Sciences</a></li>
</ul>
</div>
