<div class="main-content bio">
  <h1>Tyler Lemburg <span class="subhead">The Semi-serious autobiography</span></h1>

  <div class="inline-image"><img src="/big_fish.jpg"><div class="caption">I like to make 40" friends on the lake. Northern Pike caught at Valentine National Wildlife Refuge, NE.</div></div> 
  <p>
    I grew up in central Nebraska, in the country near a small town called Dannebrog. For a time, my dad farmed
    on the land that's been in our family since the 1860's. From him, I inherited a talent for mathematics. My parents
    and teachers saw I was a bit ahead in math very early on: I was tutored privately until 4th grade, when I started taking
    Algebra I with the high schoolers. Our school was a consolidated K-12 so this was not a large difficulty. 
    I continued to take high school math until, after finishing high school calculus in 8th grade, I took college math 
    for 4 years via distance learning during high school. 
  </p>
  <p>
    Brag paragraph incoming! In high school, I also participated in speech, where I currently hold the record for most medals won by an individual
    at my school, and was heavily involved in Boy Scouts and the Order of the Arrow. I am a proud Eagle Scout and 
    was also honored to be named the 2005 Nebraska American Legion Eagle Scout of the Year. 
    For college, I was accepted early into MIT, but chose to attend UNL and enroll in the J.D. Edwards Honors Program (now the Raikes
    School), a computer science and management honors school. 
  </p>
  <div class="inline-image left"><img src="/better_pigs.png"><div class="caption">Tim, Tyler, and Steve: The "Incendiary Pigs," in Stockholm, Sweden.</div></div> 
  <p>
    At UNL, I continued to study mathematics while gaining a strong computer science background. Along with my 
    lifelong best friend Tim, and our mutual friend Steve, we competed for UNL in the ACM International Collegiate
    Programming Contest. (sidebar: our team was named the "Incendiary Pigs", for the poor animals that Romans would light on fire
    to scare the elephants of the Huns. This was born from Tim's love of the game "Rome: Total War"). We won our regional
    contests in both our junior and senior years to advance to the World Finals (in Stockholm, Sweden and Harbin, China, respectively). The ACM ICPC World Finals is a 
    5-hour programming competition among the best 100 programming teams in the world. We were unable to break the 
    top 50 in either year, but were proud to have accomplished as much as we did, and to represent UNL on the world
    stage.
  </p>
  <p>
    During college I was very active in the Honors Program, and served on the Honors Program Student Advisory Board. I also served
    on the Lied Center for Performing Arts Student Advisory Board and was president of the math honorary, Pi Mu Epsilon. 
  </p>
  <p>
    Halfway through college, I chose to leave the Raikes School and pursue mathematics more exclusively. I did two
    Research Experiences for Undergraduates during my career: one at Trinity University in San Antonio, TX, and one
    at Clemson University in Clemson, SC. I also did an undergraduate research project for my honors thesis.
    These experiences drove my academic curiosity and I was intending on continuing
    my education as a gradute mathematics student. However, various difficulties ensued during the latter half of my
    undergrad, and in the end I chose to put my computer science skills to use instead.
  </p>
  <div class="inline-image"><img src="/math_kids.jpg"><div class="caption">Andrew, Tyler, and Chrissy, the "Cool Cats," doing some tough math research.</div></div> 
  <p>
    I briefly moved to Raleigh, NC to work for IBM, before coming back to Lincoln and working for one of my favorite
    companies, Firespring. I was a key developer for one of their clients, the St. Baldrick's Foundation, an
    organization that raises money for childhood cancer research. Working with designers and other great developers,
    I sharpened my web skills and became a full-stack developer. I then worked for the ad agency Archrival before
    making my way to the Internet and Interactive Media department at UNL. 
  </p>
  <p>
    Now, during my undergraduate career and afterward, I was interested and active politically in fighting climate
    change. After a few years, I realized that I was interested in continuing this fight using my academic skills.
    Luckliy for me, UNL subsidized tuition for employees. Thus, I took a single class each semester for a couple years,
    to get learned up on climatology,
    and, in Fall 2017, began graduate school officially. 
    I finished my M.S. in December 2019, and currently work remotely writing software for Geotix: an event-ticketing company.
  </p>
  <p>
    I am happily married to Abby, a biology professor. We have two cats, Simba and Minnie, and a dog, Kane.
    I like to spend my spare time playing golf and board games, working in the garage, and watching Husker sports. 
  </p>
</div>
