<div class="main-content">
<h1><%= post.nil? ? "New Blog Post" : "Edit Blog Post: #{post.title}" %></h1>

<form action="" method="POST">
<label for="title">Title</label>
<input type="text" name="title" id="title" value="<%= post.title if post %>">
<br><br>
<label for="html-text">HTML Text</label>
<textarea id="html-text" name="html_text"><%= post.html_text if post %></textarea>
<br><br>
<button type="submit">Submit</button>
</form>

<% unless post.nil? %>
<form action="/admin/blog/delete/<%=post.id%>/" method="POST">
<button type="submit">Delete</button>
</form>
</div>
<% end %>