<div class="main-container">
  <h1 class="super top-name">Tyler Lemburg</h1>
  <div class="activities">
    <ul>
      <li>I live in Lincoln, NE.</li>
      <li>I used to study math at the University of Nebraska&ndash;Lincoln.</li>
      <li>I graduated. Now I work at UNL.</li>
      <li>I also <a href="/academic/">study climatology</a> at UNL (M.S. student).</li>
      <li>I like to mow the lawn.</li>
      <li>I <a href="/portfolio/">build web applications</a>.</li>
      <li>I cheer on and overanalyze Husker football.</li>
      <li>I almost always wear this Braves hat:<img id="hat" src="/hat.png"></li>
      <li>I started a <a href="http://www.icewineproductions.com">business</a> with my side projects. It's still in the red.</li>
      <li>I obsess over Breaking Bad.</li>
      <li>I play and stream video games</a> competitively.</li>
      <li>I mean competitively as in I try hard, not professionally (someday?).</li>
      <li>"You know who was never late to the bars? Tyler." --Lev Ginsburg</li>
    </ul>
  </div>
</div>
