<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Tyler Lemburg</title>
    <script src="https://use.fontawesome.com/ed5b5fdebe.js"></script>
    <style>
    @font-face {
      font-family: "ForzaBoldItalic";
      src: url(/Forza-BoldItalic.otf);

    }
    @font-face {
      font-family: "GothamNarrowBoldItalic";
      src: url(/GothamNarrow-BoldItalic.otf);
    }

    @font-face {
      font-family: "GothamNarrowBookItalic";
      src: url(/GothamNarrow-BookItalic.otf);
    }

    @font-face {
      font-family: "GothamBook";
      src: url(/Gotham-Book.otf);
    }
    @font-face {
      font-family: "GothamBold";
      src: url(/Gotham-Bold.otf);
    }

    body {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+55,0+100 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,0) 100%), url(/main_bg.JPG);
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }
    a {
      color: #34c57f;
      text-decoration: underline;
    }
    
    .top-bar {
      padding: 0.5em;
    }
    .top-name {
      font-family: "ForzaBoldItalic";
      font-size: 4em;
      text-shadow: 2px 2px #3d5a4c;
      color: #FEFEFE;
    }

    .menu-container {
      float: right;
      z-index: 1;
    }

    .menu-container a {
      height: 1em;
      width: 1em;
      border-radius: 1.1em;
      background: #FEFEFE;
      display: block;
      padding: 0.5em;
      text-align: center;
    }

    .menu-container.green a {
      background: #3d5a4c;
    }

    .menu-container a i {
      font-size: 1.1em;
      color: #3d5a4c;
    }

    .menu-container.green a i {
      color: #FEFEFE;
    }

    .main-container {
      width: 50%;
      padding: 1em;
      padding-left: 2em;
    }
    .activities {
      font-family: "GothamBook";
      color: #FEFEFE;
    }
    .activities ul {
      list-style: none;
      text-align: left;
      margin: 0;
      margin-top: 1em;
      padding: 0;
    }
    .activities li {
      margin-bottom: 0.8em;
    }
    #hat {
      height: 4em;
      vertical-align: middle;
    }
    #menu {
      position: absolute;
      height: 100%;
      width: 12em;
      top: 0;
      right: -12em;
      -webkit-transition: right 0.5s;
      transition: right 0.5s;
      background: #FEFEFE;
    }
    #menu.open {
      right: 0;
    }

    #menu ul {
      list-style:none;
      padding: 0;
      margin: 0;
      margin-top: 3em;
      text-align: center;
      font-family: "GothamBold";
      text-transform: uppercase;
    }

    #menu ul li {
      margin-bottom: 1em;
    }

    #menu ul li a {
      color: #3d5a4c;
      text-decoration: none;
      padding-bottom: 0.25em;
      cursor: pointer;
    }

    #menu ul li a:hover {
      border-bottom: 2px solid #3d5a4c;
    }
    </style>
  </head>
  <body>
    <div id="menu" class="menu">
      <div class="top-bar">
      <div id="close-link" class="menu-container green">
        <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      </div>
      <ul>
        <li><a>Bio</a></li>
        <li><a>Blog</a></li>
        <li><a>CV</a></li>
        <li><a>Resume</a></li>
        <li><a>LinkedIn</a></li>
      </ul>
    </div>
    <div class="top-bar">
      <div id="open-link" class="menu-container">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="main-container">
      <span class="top-name">Tyler Lemburg</span>
      <div class="activities">
      <ul>
        <li>I live in Lincoln, NE.</li>
        <li>I used to study math at the University of Nebraska&ndash;Lincoln.</li>
        <li>I graduated. Now I work at UNL.</li>
        <li>I also <a>study climatology</a> at UNL (M.S. candidate).</li>
        <li>I like to mow the lawn.</li>
        <li>I build <a>web applications</a>.</li>
        <li>I cheer on and overanalyze Husker football.</li>
        <li>I almost always wear this Braves hat:<img id="hat" src="/hat.png"></li>
        <li>I started a <a>business</a> with my side projects. It's still in the red.</li>
        <li>I obsess over Breaking Bad.</li>
        <li>I <a>play and stream video games</a> competitively.</li>
        <li>I mean competitively as in I try hard, not professionally (someday?).</li>
        <li>"You know who was never late to the bars? Tyler." --Lev Ginsburg</li>
      </ul>
      </div>
    </div>

  <script type="text/javascript">
  document.getElementById("open-link").addEventListener("click", function () {
    var element = document.getElementById("menu");
    element.className = 'menu open';
  });
  document.getElementById("close-link").addEventListener("click", function () {
    var element = document.getElementById("menu");
    element.className = 'menu';
  });
  </script>
  </body>
</html>
