<div class="main-content">
  <h1>Tyler's Portfolio<span class="subhead">Apps and Sites I've Built</span></h1>
</div>

<div class="band green">
<div class="main-content">
  <div class="inline-image no-caption much-smaller">
    <a href="/sbf-map.png"><img src="/sbf-map.png"></a>
  </div>
  <div class="inline-image no-caption much-smaller">
    <a href="/sbf-grants.png"><img src="/sbf-grants.png"></a>
  </div> 
  <div class="inline-image no-caption much-smaller">
    <a href="/sbf-top-of-the-charts.png"><img src="/sbf-top-of-the-charts.png"></a>
  </div>
  <div class="inline-image no-caption much-smaller">
    <a href="/sbf-finances2.png"><img src="/sbf-finances2.png"></a>
  </div>
  <div class="inline-image no-caption much-smaller">
    <a href="/sbf-finances1.png"><img src="/sbf-finances1.png"></a>
  </div> 
  <h2>St. Baldrick's Foundation <span class="subhead">www.stbaldricks.org</span></h2>
  <p>
  I built and maintained large chunks of the website for a $40 million cancer research nonprofit.
  This foundation runs most of its business through its website, and thus required a large
  admininistration function to manage events, donations, contacts, etc. I built plenty of
  frontend pages with help of designers, integrated Facebook login, managed the 
  backend queue system, and was in charge of the main donation/payment processing page. 
  Finally, I built a map-based "Find an Event" page which geographically
  searched for events in various locations. 
  </p>
</div>
</div>

<div class="band red">
<div class="main-content">
  <div class="inline-image no-caption">
    <a href="/unl-edu.png"><img src="/unl-edu.png"></a>
  </div>
  <h2>UNL.edu Framework <span class="subhead">www.unl.edu</span></h2>
  <p>
  I am the release engineer and one of the main developers for a web framework used across
  the University of Nebraska&ndash;Lincoln. This includes building and maintaining templates,
  Javascript functions for accessing various public data, search functionality, and more.
  </p>
</div>
</div>

<div class="band red">
<div class="main-content">
  <div class="inline-image no-caption">
    <a href="/unl-events-manager.png"><img src="/unl-events-manager.png"></a>
  </div>
  <div class="inline-image no-caption">
    <a href="/unl-events.png"><img src="/unl-events.png"></a>
  </div>
  <h2>UNL Events <span class="subhead">events.unl.edu</span></h2>
  <p>
  I am the lead developer for an events and calendar management system for the University of Nebraska&ndash;Lincoln. Events can be created and shared across calendars, syndicated and promoted to the main UNL calendar, and recommended to other users to be posted to their
  calendars. I have also built recurring event functionality and APIs into the product, and 
  events are pulled into the UNL.edu Framework to be displayed on web pages. 
  </p>
</div>
</div>

<div class="band red">
<div class="main-content">
  <div class="inline-image no-caption">
    <a href="/unl-global-map.png"><img src="/unl-global-map.png"></a>
  </div>
  <h2>UNL Global Strategies Map <span class="subhead">globalnebraska.unl.edu/global-map</span></h2>
  <p>
  I built a map page for the Global Strategies Office at the University of Nebraska&ndash;Lincoln. This map geographically places all the international research and programs into each country,
  and displays details on each when clicked into.
  </p>
</div>
</div>

<div class="band red">
<div class="main-content">
  <div class="inline-image no-caption">
    <a href="/unl-directory.png"><img src="/unl-directory.png"></a>
  </div>
  <h2>UNL Directory <span class="subhead">directory.unl.edu</span></h2>
  <p>
  I am the lead developer for the directory service at the University of Nebraska&ndash;Lincoln.
  This involves pulling data from LDAP and SAP sources, and maintaining APIs for downstream
  services to consume this information. Faculty insight and CV data is also pulled in and 
  conditionally displayed, and the service also includes a maintained "yellow pages" database of 
  lists of department employees and positions. 
  </p>
  </div>
</div>
</div>